<h1>Essa é minha HOME</h1>

<p>
  Aqui vai meu conteúdo!

  <%= 3 + 2 %>

  <%= @x %>
  <p>
  <%= session[:user_id] %>
  </p>
  <% if user_signed_in? %>
    <%= "XXXX #{@current_user.name} XXXX" %> 
  <% end %>
</p>